<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- CSS LINK -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <!-- Fontawesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <title>Our Products | Nizami Sevindi</title>
    </head>
<body>
    <header class="header" >
        <a href="#" class="logo">
            <img src="{{ url_for('static', filename='banner2.gif') }}" alt="logo">
        </a>
        <nav class="navbar">
            <a href="./">home</a>
            <a href="./chatbot.html" >chatbot</a>
            <a href="./model">Form</a>
            <a href="./process_image">OCR</a>
            <a href="./about_trees" class="active">Trees</a>
            <a href="./lrp">LRP</a>
            <a href="./contact">contact</a>
            <a href="./blog">blog</a>
        </nav>
    
    </header>
    <section class="products" id="products">
        <h1 class="heading">Decision Trees </h1> 
    </section>
    <section>
    <div class="form-container3">
        <h1>Decision Trees</h1>
            <div class="image-tree">
                <img src="static/decision_tree_1.png" alt="Image 1">
            </div>
            <div class="image-tree">
                <img src="static/decision_tree_2.png" alt="Image 2">
            </div>
            <div class="image-tree">
                <img src="static/decision_tree_3.png" alt="Image 3">
            </div>
    </div>


    <p class="mt-4 text-center">
        <a href="/" class="btn btn-primary">Detect</a>
    </p>
    </div>
</section>
<section class="footer">
    <div class="search">
        <input type="text" class="search-input" placeholder="Search">
        <button class="btn btn-primary">search</button>
    </div>
    <div class="share">
        <a href="#" class="fab fa-linkedin"></a>
        <a href="#" class="fab fa-github"></a>
    </div>
    <div class="links">
        <a href="#home">home</a>
        <a href="#chatbot">chatbot</a>
        <a href="#form">model</a>
        <a href="#ocr">review</a>
        <a href="#trees">trees</a>
        <a href="#lrp">lrp</a>
        <a href="#blog">blog</a>
        <a href="#contact">contact</a>
    </div>
    <div class="credit">
        creaated by <span>Aryan Kamani, Athul Srivatsava, Daksh Agiwal</span> | all rights reserved!
    </div>
</section>
<!-- -------------------------------------------FOOTER SECTION -->

<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>