<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS LINK -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Our Products | Nizami Sevindi</title>
    <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    >
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.3/umd/popper.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script defer src="static/script2.js"></script>
</head>
<body>

    <!-------------------------------------------- HEADER SECTION -->
    <header class="header" >
        <a href="#" class="logo">
            <img src="{{ url_for('static', filename='banner2.gif') }}" alt="logo">
        </a>
        <nav class="navbar">
            <a href="./">home</a>
            <a href="./chatbot.html" >chatbot</a>
            <a href="./model">Form</a>
            <a href="./process_image">OCR</a>
            <a href="./about_trees">Trees</a>
            <a href="./lrp">LRP</a>
            <a href="./contact">contact</a>
            <a href="./blog" class="active">blog</a>
        </nav>
    
    </header>

    <!-- Add this section below your header -->
    <section class="blog">
        <div class="blog-box">
            <img src="static/images/AI_2.jpeg" alt="Explaining Images">
            <div class="blog-content">
                <h2>Explaining Images</h2>
                <p>This is the content of Blog Post 1. It can be a brief description or introduction.</p>
                <div class="popover-container">
                    <button class="popover-button2">Read More</button>
                    <div class="popover-content2">Decision trees are a popular machine learning algorithm used for both classification and regression tasks.
                         They create a tree-like structure of decisions based on input features to make predictions or classify data.
                        We find that decision trees are very transparent in the way they are being computed, as we can clearly see each node making a decsion that leads to the final prediction.
                    We use OCR (Optical Character Recognition) on the decsion tree generated after training the model. We extract all the decsions made by the tree and using an algorithm, 
                    lead to a conclusion as to what features lead to the prediction of the model. Similarly we pply the same concept to Random Forest Classifier.
                Multiple decision trees can be generated and </div>
                </div>
            </div>
        </div>
        
        <div class="blog-box">
            <img src="static/images/Chatbot.jpeg" alt="Chatbot">
            <div class="blog-content">
                <h2>Chatbot</h2>
                <p>This is the content of Blog Post 2. It can be a brief description or introduction.</p>
                <div class="popover-container">
                    <button class="popover-button2">Read More</button>
                    <div class="popover-content2">Decision trees are a popular machine learning algorithm used for both classification and regression tasks.
                         They create a tree-like structure of decisions based on input features to make predictions or classify data.
                        We find that decision trees are very transparent in the way they are being computed, as we can clearly see each node making a decsion that leads to the final prediction.
                    We use OCR (Optical Character Recognition) on the decsion tree generated after training the model. We extract all the decsions made by the tree and using an algorithm, 
                    lead to a conclusion as to what features lead to the prediction of the model. Similarly we pply the same concept to Random Forest Classifier.
                Multiple decision trees can be generated and </div>
                </div>
            </div>
        </div>
        
        <div class="blog-box">
            <img src="static/images/Description_img.jpg" alt="Explaining Decision Trees">
            <div class="blog-content">
                <h2>Explaining Decision Trees</h2>
                <p>This is the content of Blog Post 3. It can be a brief description or introduction.</p>
                <div class="popover-container">
                    <button class="popover-button1">Read More</button>
                    <div class="popover-content1">Decision trees are a popular machine learning algorithm used for both classification and regression tasks.
                         They create a tree-like structure of decisions based on input features to make predictions or classify data.
                        We find that decision trees are very transparent in the way they are being computed, as we can clearly see each node making a decsion that leads to the final prediction.
                    We use OCR (Optical Character Recognition) on the decsion tree generated after training the model. We extract all the decsions made by the tree and using an algorithm, 
                    lead to a conclusion as to what features lead to the prediction of the model. Similarly we pply the same concept to Random Forest Classifier.
                Multiple decision trees can be generated and </div>
                </div>
            </div>
        </div>
    </section>
    <section>

    </section>
<!-- -------------------------------------------FOOTER SECTION -->
    <section class="footer">
        <div class="search">
            <input type="text" class="search-input" placeholder="Search">
            <button class="btn btn-primary">search</button>
        </div>
        <div class="share">
            <a href="#" class="fab fa-linkedin"></a>
            <a href="#" class="fab fa-github"></a>
        </div>
        <div class="links">
            <a href="#home">home</a>
            <a href="#chatbot">chatbot</a>
            <a href="#form">model</a>
            <a href="#ocr">review</a>
            <a href="#trees">trees</a>
            <a href="#lrp">lrp</a>
            <a href="#blog">blog</a>
            <a href="#contact">contact</a>
        </div>
        <div class="credit">
            creaated by <span>Aryan Kamani, Athul Srivatsava, Daksh Agiwal</span> | all rights reserved!
        </div>
    </section>
    <!-- -------------------------------------------FOOTER SECTION -->

<script src="{{ url_for('static', filename='script.js') }}"></script>
<script src="{{ url_for('static', filename='script2.js') }}"></script>
</body>
</html>