<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS LINK -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Cok Sayfali Web Sitesi | Nizami Sevindi</title>
</head>
<body>
    <!-------------------------------------------- HEADER SECTION -->
    <header class="header" >
        <a href="#" class="logo">
            <img src="{{ url_for('static', filename='banner2.gif') }}" alt="logo">
        </a>
        <nav class="navbar">
            <nav class="navbar">
            <a href="./" class="active">home</a>
            <a href="./chatbot.html" >chatbot</a>
            <a href="./model">Form</a>
            <a href="./process_image">OCR</a>
            <a href="./about_trees">Trees</a>
            <a href="./lrp">LRP</a>
            <a href="./contact">contact</a>
            <a href="./blog">blog</a>
            </nav>
        </nav>
    </header>
    <!---------------------------------------------HEADER SECTION -->

    <!---------------------------------------------HOME SECTION -->
    <section class="home" id="home">
        <div class="content">
            <h1>XAI</h1>
            <h2>Unveiling The Mind of AI </h2>
            <h2>Empowering You to Decode the Language of AI </h2>
        </div>
        <img src="static/Home_page_image.png" alt="Image Description" class="positioned-image">

    </section>
    <!---------------------------------------------CONTACT SECTION -->

    <!---------------------------------------------BLOG SECTION -->
    
    <!---------------------------------------------FOOTER SECTION -->
    <section class="footer">
        <div class="search">
            <input type="text" class="search-input" placeholder="Search">
            <button class="btn btn-primary">search</button>
        </div>
        <div class="share">
            <a href="#" class="fab fa-facebook"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-linkedin"></a>
            <a href="#" class="fab fa-pinterest"></a>
        </div>
        <div class="links">
            <a href="">home</a>
            <a href="chatbot">chatbot</a>
            <a href="model">form</a>
            <a href="process_image">ocr</a>
            <a href="about_trees">trees</a>
            <a href="lrp">lrp</a>
            <a href="blog">blog</a>
            <a href="contact">contact</a>
        </div>
        <div class="credit">
            creaated by <span>Nizami Sevindi</span> | all rights reserved!
        </div>
    </section>
    <!---------------------------------------------FOOTER SECTION -->

<script src="./script.js"></script>
</body>
</html>