<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS LINK -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Our Products | Nizami Sevindi</title>
</head>
<body> <!-- Change background color to blue-100 -->
    <header class="header" >
        <a href="#" class="logo">
            <img src="{{ url_for('static', filename='generate-a-logo-for-explainable-ai-m87GIC2KCI-watermarked.png') }}" alt="logo">
        </a>
        <nav class="navbar">
            <a href="./">home</a>
            <a href="./about.html">about</a>
            <a href="./chatbot.html" >chatbot</a>
            <a href="./model">Form</a>
            <a href="./process_image">OCR</a>
            <a href="./about_trees">Trees</a>
            <a href="./lrp"  class="active">LRP</a>
            <a href="./review.html">review</a>
            <a href="./contact.html">contact</a>
            <a href="./blog.html">blog</a>
        </nav>
    
    </header>
   <div class="form-container">
       <h1 class="text-4xl font-bold text-center mb-8">Image Processing</h1>
       <form class="flex justify-center" method="POST" enctype="multipart/form-data" action="/upload">
           <input class="p-2 border border-gray-300 rounded-lg" type="file" name="file">
           <button class="ml-4 px-6 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600" type="submit">Upload</button>
       </form>

       <h2 class="text-2xl font-semibold mt-8">Output Images</h2>

       {% if images %}
           <ul class="grid grid-cols-2 gap-4 mt-4">
               {% for image in images %}
                   <li>
                       <img class="w-full h-auto rounded-lg" src="{{ image }}" alt="Output Image">
                   </li>
               {% endfor %}
           </ul>
       {% else %}
           <p class="mt-4 text-gray-600">No output images available.</p>
       {% endif %}
   </div>
   <section class="footer">
    <div class="search">
        <input type="text" class="search-input" placeholder="Search">
        <button class="btn btn-primary">search</button>
    </div>
    <div class="share">
        <a href="#" class="fab fa-linkedin"></a>
        <a href="#" class="fab fa-github"></a>
    </div>
    <div class="links">
        <a href="#home">home</a>
        <a href="#about">about</a>
        <a href="#chatbot">chatbot</a>
        <a href="#model">model</a>
        <a href="#review">review</a>
        <a href="#contact">contact</a>
        <a href="#blog">blog</a>
    </div>
    <div class="credit">
        creaated by <span>Nizami Sevindi</span> | all rights reserved!
    </div>
</section>
<!-- -------------------------------------------FOOTER SECTION -->

<script src="{{ url_for('static', filename='generate-a-logo-for-explainable-ai-m87GIC2KCI-watermarked.png') }}"></script>

</body>
</html>