<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS LINK -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Our Products | Nizami Sevindi</title>
</head>
<body> <!-- Change background color to blue-100 -->
    <header class="header" >
        <a href="#" class="logo">
            <img src="{{ url_for('static', filename='generate-a-logo-for-explainable-ai-m87GIC2KCI-watermarked.png') }}" alt="logo">
        </a>
        <nav class="navbar">
            <a href="./">home</a>
            <a href="./about.html">about</a>
            <a href="./chatbot.html" >chatbot</a>
            <a href="./model">Form</a>
            <a href="./process_image">OCR</a>
            <a href="./about_trees">Trees</a>
            <a href="./lrp"  class="active">LRP</a>
            <a href="./review.html">review</a>
            <a href="./contact.html">contact</a>
            <a href="./blog.html">blog</a>
        </nav>
    
    </header>
    <div class="box-container-LRP">
        <div class="form-container-LRP text-center">
            <h1 class="white-text">Layer Wise Relevance Propagation</h1>
            <form method="POST" enctype="multipart/form-data" action="/upload">
                <div>
                    <input class="form-control" type="file" name="file">
                </div>
                <button class="btn btn-primary" type="submit">Upload</button>
            </form>
    
            {% if images %}
                <div class="d-flex justify-content-center">
                    <div class="d-flex flex-wrap">
                        {% for image in images %}
                            <div class="mx-2 mb-4">
                                <div class="output-image-container">
                                    <img class="img-fluid custom-image-size" src="{{ image }}" alt="Output Image">
                                    <!-- Add a caption for each image -->
                                    <p class="image-caption white-text">{{ image }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% else %}
                <p class="white-text">No output images available.</p>
            {% endif %}
        </div>
    </div>
    
    
     
   <section class="footer">
    <div class="search">
        <input type="text" class="search-input" placeholder="Search">
        <button class="btn btn-primary">search</button>
    </div>
    <div class="share">
        <a href="#" class="fab fa-linkedin"></a>
        <a href="#" class="fab fa-github"></a>
    </div>
    <div class="links">
        <a href="#home">home</a>
        <a href="#about">about</a>
        <a href="#chatbot">chatbot</a>
        <a href="#model">model</a>
        <a href="#review">review</a>
        <a href="#contact">contact</a>
        <a href="#blog">blog</a>
    </div>
    <div class="credit">
        creaated by <span>Nizami Sevindi</span> | all rights reserved!
    </div>
</section>
<!-- -------------------------------------------FOOTER SECTION -->

<script src="{{ url_for('static', filename='generate-a-logo-for-explainable-ai-m87GIC2KCI-watermarked.png') }}"></script>

</body>
</html>